/* Sidebar styles */
.sidebar {
    background-color: lightblue;
    height: 100vh;
}

.list-group-item {
    background-color: lightblue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item:hover {
    background-color: #87ceeb;
    color: white;
}
